*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./img/fundo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    row-gap: 50px;
    column-gap: 50px;
    justify-items: center;
    margin-top: 100px;
    
}



.cards {
    background-color: rgba(13, 240, 240, 0.466);
    width: 300px;
    height: 400px;
    border: 2px solid;
 
   
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;
}

.cards img{
z-index: 20;
object-fit: cover;
width: 150px;
}



.cards h2{
    margin: auto;
    color: black;
    font-size: 35px;
    z-index: 20;
}

.cards p{
    
    font-size: 20px;
    margin: 5px 10px;
   z-index: 20;
}


.demotext {
    color: #202c2d;
    
    text-shadow: 0 1px #687f8a, -1px 0 #0198f5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #878e92;
    color: #202c2d;
    
    }